<div id="container">
	<h2> OD Matrices</h2>
	<div class="row">
		<div class="col-md-6">
			<h4>Transmilenio stations</h4>
			<div id="map" style=" height : 500px; "> </div>
		</div>
		<div class="col-md-6">
			<div class="btn-group" dropdown is-open="status.isopen">
      			<button id="single-button" type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
        			OD Matrix <span class="caret"></span>
      			</button>
      			<ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
		        	<li role="menuitem"><a ng-click='select("fase")'>fase</a></li>
			        <li role="menuitem"><a ng-click='select("troncal")'>troncal</a></li>
			        <li role="menuitem"><a ng-click='select("zona")'>zona</a></li>
      			</ul>
    		</div>
			<div id='div_od_matrix'></div>
		</div>	
		
		<!--<span> {{createMap()}}</span>-->
	</div>
</div>

<script>
	changeSelection('menu_od_matrices');
</script>	