
<div id="container">
	<h2> Stations I/O: {{selectedDate.name}}</h2>
	<div class="row">
		<select ng-model="selectedDate" ng-change="updateDate()" ng-options="date.name for date in dates"> </select>
	</div>
	<h4 style="text-align: center;">Use slider to select hour</h4>
	<div class="row">
		<div class="col-md-3 col-centered">
			<div >
				<div id="div_clock" style="width: 50%;margin: 0 auto;"> </div>
				<h5>{{range.model_date}}</h5>
			</div>
		</div>
		<div class="col-md-9">
			<div range-slider min="range.min" max="range.max" model-max="range.model_max" pin-handle="min" disabled="range.disabled"></div>
		</div>
	</div>
	<!--<div class="row" id="div_io">
		<h3>I/O Stations comparison (Select stations from map)</h3>	
	</div>-->
	
	<div ng-controller="Controller_ui">
		<button type="button" class="btn btn-default" ng-click="isCollapsed = !isCollapsed">I/O Stations comparison</button>
		
		<div uib-collapse="isCollapsed">
			<uib-tabset>
   				<uib-tab heading="Stations">
   					<h6>Select stations from map</h6>
					<div id="div_io">	
					</div>
				</uib-tab>
				<uib-tab heading="Histogram">
					<!--<div range-slider min="selrange.min" max="selrange.max" model-min="selrange.model.min" model-max="selrange.model_max" disabled="selrange.disabled"></div>
					<h2>{{selrange.min}} -- {{selrange.max}}</h2>
					<h2>{{selrange.model_min}} -- {{selrange.model_max}}</h2>-->
					<button type="button" ng-click="sortHistogram()">{{iohistogram.text}}</button>
					<div id="div_io_selection">	
					</div>
				</uib-tab>
  			</uib-tabset>
		</div>
	</div>
	
	<div class="row">
		<h4>Transmilenio stations</h4>
		<div id="map" style=" height : 500px; "> </div>	
	</div>
	
	
</div>



<script>
	changeSelection('menu_stations_io');
	
</script>	