.c3-region.regionMonth {
  fill: gray;
}

.c3-region.regionRed {
  fill: red;
}
.c3-region.regionGreen {
  fill: green;
}
.c3-region.regionBlue {
  fill: blue;
}
.c3-region.regionPurple {
  fill: purple;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}